---
layout: base.njk
title: Contact
description: Contact information for Howloween.
---

<!-- Page Banner -->
<section class="wrapper align-center">
  <div class="inner">
    <div>
      <h1>Contact</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <div>
      <h3>Division Inquiries</h3>
      <p>
        If you have a question which can be handled by a specific division, please utilize the
        following emails for the fastest repsonse:
      </p>

      <ul>
        <li>
          For business inquiries:
          <a href="mailto:business@tritontails.org">business@tritontails.org</a>
        </li>
        <li>
          For operations inquiries:
          <a href="mailto:con-ops@tritontails.org">con-ops@tritontails.org</a>
        </li>
        <li>
          For communications inquiries:
          <a href="mailto:communications@tritontails.org">communications@tritontails.org</a>
        </li>
        <li>
          For gaming inquiries: <a href="mailto:gaming@tritontails.org">gaming@tritontails.org</a>
        </li>
        <li>
          For panel, event, and other programming inquiries:
          <a href="mailto:programming@tritontails.org">programming@tritontails.org</a>
        </li>
        <li>
          For registration inquiries:
          <a href="mailto:registration@tritontails.org">registration@tritontails.org</a>
        </li>
      </ul>

      <p>
        For all other inquiries or any general questions, you may utilize the contact information
        below.
      </p>
    </div>

    <h3>General Inquiries</h3>
    <p>
      For all general questions about Howloween, please reach out to us via our main email or
      Instagram:
    </p>

    <ul>
      <li>Main email: <a href="mailto:contact@tritontails.org">contact@tritontails.org</a></li>
      <li>Instagram: <a href="https://www.instagram.com/furriesatucsd/">@furriesatucsd</a></li>
    </ul>
  </div>
</section>
