---
layout: base.njk
title: Performances
description: List of performers for Howloween 2026.
---

<section class="wrapper">
  <div class="inner">
    <h1>Performances</h1>
    <p>Here's your list of performers for Howloween 2026!</p>

    <!-- Performances -->
    {% for show in performance.performances %}
      <h2>{{ show["performer-name"] }}</h2>
      <h3>{{ show["performance-name"] }}</h3>
      <p>Scheduled Time: {{ show["scheduled-time"] }}</p>
      <p>{{ show["event-description"] }}</p>
      {% if not loop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
</section>