---
layout: base.njk
title: Howloween Rave
description: Information on the rave hosted for Howloween 2026.
---

<section class="wrapper">
  <div class="inner">
    <main>
      <p>
    As per Howloween tradition, the whole con ends off on a rave hosted in West Ballroom! Attendees
    with a valid badge can attend and dance the night away with featured DJs!
  </p>
      <p>
    The end-of-night Rave will begin at 6PM, and go through until 11PM with our special guest
    Hushpuppy closing out the show!
  </p>
      <p>
    Attendees with Minor Badges are not allowed to attend the Rave, as per the safety of these
    individuals.
  </p>
      <h2>DJs:</h2>
      {% for ppl in djs.djlist %}
        <section class="dj">
          <h3>{{ ppl["dj-name"] }}</h3>
          <p>{{ ppl["genre"] }}</p>
          <p>{{ ppl["time"] }}</p>
          {% for platform in[
            "instagram",
            "twitter",
            "tiktok",
            "mixcloud",
            "soundcloud",
            "bluesky",
            "spotify"
          ] %}
            {% if ppl[platform] %}
              <p>{{ platform | capitalize }}: <a href="{{ ppl[platform] }}">{{ ppl[platform] }}</a>
              </p>
            {% endif %}
          {% endfor %}
        </section>
        {% if not loop.last %}
          <hr/>
        {% endif %}
      {% endfor %}
    </main>
  </div>
</section>