---
layout: base.njk
title: Howloween Rave
description: Information on the rave hosted for Howloween 2026.
---
<header>
    <h1>Howloween Rave</h1>
</header>
<main>
    <h2>Information on the Rave: </h2>
    <p>As per Howloween Tradition, the whole con ends off on a rave hosted in West Ballroom! 
        Attendees with a valid badge can attend and dance the night away with featured DJs!</p>
    <p>The end of night Rave will begin at 6PM, and go through until 11PM with our special Guest Hushpuppy closing out the show!</p>
    <p>DJ Lineup to be revealed September 12th</p>
    <p>Attendees with Minor Badges are not allowed to attend the Rave, as per the safety of these individuals.</p>