---
layout: base.njk
title: Attendee Policies
description: Policies and rules for all attendees to follow during Howloween.
---

<!-- Page Banner -->
<section class="wrapper align-center">
  <div class="inner">
    <div>
      <h1>Attendee Policies</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <div>
      <h3 id="registration">Registration</h3>
      <p>
        Registration through official sources such as this website and on-site are the only ways to
        purchase your membership for this event, with the given badge acting as physical proof of
        membership.
        <b
          >The practice of badge-sharing will NOT be allowed for this event. Any parties involved in
          badge-sharing will be kicked out of this year's event, will be banned from next year's
          event, and may have legal ramifications.</b
        >
      </p>

      <p />
      <p>
        Registration may be purchased on our website or in-person during the event. General
        registration rates are generally discounted the earlier in the year you purchase them and
        the most expensive on-site during the event. UCSD, Minor, and Sponsor Badge prices will stay
        the same throughout the entire registration period. Only General badges will have a
        discounted period until September.
      </p>
      <p>
        Payment methods accepted are credit cards and cash on-site. No personal or cashier checks
        will be accepted for registration.
      </p>

      <p />
      <p>
        Registered legal names must match your government-issued photo ID in order to complete
        onsite registration and/or check-in. Minors may use a school-issued photo ID and/or any
        other government-issued document to prove their membership.
      </p>

      <p />
      <p>
        For this year's event, minors must bring either a parent or guardian with them to pick up
        their badges, otherwise badges will not be issued.
      </p>

      <h3 id="minors">Minors</h3>
      <p>
        All attendees who are under the age of 18 as of October 11, 2026, will receive a minor
        membership, badge, and a wristband.
      </p>

      <p />
      <p>
        Parents or a Guardian will also receive a wristband and must accompany the minor at all
        times during this event.
      </p>

      <p />
      <p>
        There will be some restrictions, regarding activities, that minor membership will have, such
        as restriction to rave access and to some mature event programming. Any additional
        restrictions will be listed here.
      </p>

      <p />
      <p>
        <u
          >If you are a minor and are purchasing a sponsor badge, please contact
          <a href="mailto:business@tritontails.org">business@tritontails.org</a> after purchase.</u
        >
        You do not have to purchase the minor badge separately: you will be given both a sponsor and
        a minor badge, along with a wristband. All the restrictions above and on this page still
        apply.
      </p>

      <p />
      <p>
        <b>
          If staff figure out that you are a minor and have been found to have registered for the
          event under a different (i.e., adult) membership. UCPD will be contacted, you will be
          kicked out of the event, and you may face legal repercussions.
        </b>
      </p>

      <p />

      <h3 id="refunds">Refunds</h3>
      <p>
        Full refunds can be requested at the email of
        <a href="mailto:business@tritontails.org">business@tritontails.org</a>
        <b>before September 12th, 2026, 11:59 PM</b>. No other means of contact through our public
        servers or social media accounts are going to process your request.
        <b>Please send your refund request from the email associated with your badge</b> and include
        the following info:
      </p>

      <p />
      <ul>
        <li>Legal Name</li>
        <li>Badge Name</li>
        <li>Reasons for refund</li>
      </ul>
      <p>
        Refunds requested after September 12, 2026 are not guaranteed and will only be offered on a
        case-by-case basis through extenuating circumstances. To preserve your confidentiality, all
        evidence documenting the extenuating circumstances will be deleted on our end after the case
        is resolved. Between September 12, 2026 and October 4, 2026, rollovers of this year's
        membership credit into the next year's event will be offered.
        <b>No refund or rollover request will be granted by October 4, 2026. </b>
      </p>

      <p />
      <p>
        If your membership is terminated for any reason relating to your personal conduct during the
        event, you will not be eligible for any refund.
      </p>

      <h3 id="safety-costume-policy">Safety &amp; Costume Policy</h3>
      <p>
        The safety and security of our attendees, vendors, volunteers, staff, and general public
        during Howloween is our highest priority, and Triton Tails is working closely with the
        university to keep this event safe and fun. We ask that all attendees do their part in
        keeping this event safe. If you see something suspicious or potentially unsafe, please
        contact our con-ops division immediately.
      </p>

      <p />
      <p>
        By attending Howloween, you agree to abide by our Attendee and Vendor Policies (see
        <a href="#personal-conduct">Personal Conduct</a>), university policies, the City of San
        Diego municipal code, or state or federal laws. Any violators may be confronted by Howloween
        staff (including con-ops), UCSD staff, or UCPD. Failure to comply with any of these rules or
        laws may result in sanctions, up to and including revocation of your membership and civil or
        criminal prosecution.
      </p>

      <p />
      <p>
        Most of the extra security will come during the rave. After 6:00 PM, there will be a
        security checkpoint at the west ballroom and the closure of some of the entrances. You will
        go through security by going through a bag check and, potentially, a magnetometer.
      </p>

      <p />
      <p>
        For costumes and props, we are fine with most things however as this is in a university
        setting, we have some very strict rules we need to follow from our university. The most
        important being is that if it looks like a weapon from eye distance, that is a no-go, leave
        that back home. If it's a prop or weapon that can shoot a projectile, we will not allow that
        as well. Any prop or costume that is sharp and can cause injury to other people in tight
        spaces is not allowed. We have UCPD and UCSD staff looking over the venue at all times, so
        it's very important that our event follows these guidelines.
      </p>

      <p />
      <p>
        While most costumes and props are welcome at Howloween, there are a few rules that will be
        strictly enforced by UCSD staff and UCPD for this university event. The following are
        strictly prohibited from Howloween:
      </p>
      <ul>
        <li>
          Any props that have the appearance of a weapon from an average viewing distance (~20 feet
          away).
        </li>
        <li>Any props or costume elements that are able to shoot projectiles.</li>
        <li>Any props or costume elements that are sharp enough to cause contact injury.</li>
      </ul>
      <p>
        Additionally, Howloween is an all-ages convention on a university campus, so any
        not-suitable-for-work (NSFW) costumes, props, and kink gear (including pup hoods) is
        prohibited.
      </p>

      <p />
      <p>
        We understand that costume &amp; props are a very grey area/subject. If you are unsure of
        whether your costume and/or props will be permissible to wear to Howloween, please confirm
        with con-ops at con-ops@tritontails.org prior to the event. It's better to ask questions
        than to risk your access to the venue during check-in.
      </p>

      <h3 id="personal-conduct">Personal Conduct</h3>
      <p>
        To keep this convention running as smoothly and as fun for everyone as possible, we have
        implemented some rules regarding personal conduct. The following conduct is prohibited:
      </p>
      <ul>
        <li>Fighting, rough-housing, vandalism, threatening, or abusive language.</li>
        <li>Hate speech, including any attire, costume, prop, and wearables alluding to it.</li>
        <li>Littering. Please take trash with you or throw it away in the appropriate place.</li>
        <li>
          Congregating on elevators or in tight hallways, unless you are waiting on an elevator or
          for programming. Keeping the flow of traffic active is essential.
        </li>
        <li>
          Trespassing (or attempted trespassing into) rooms that are limited access to staff or
          sponsors or are not a part of the convention.
        </li>
        <li>Impersonating Howloween staff, UCSD staff, medical services, or UCPD.</li>
        <li>Balloons or floating/flying objects within buildings.</li>
      </ul>
      <p></p>
      <p />
      <h3 id="harassment-assault">Harassment &amp; Assault</h3>
      <p>
        Triton Tails has zero tolerance for harassment and assault of any form, including, but not
        limited to, unwanted contact, stalking, threats of violence, and provocation. Number one
        rule is If someone tells you to stop, you must abide by those wishes and stop immediately.
        If you are feeling uncomfortable or are being subjected to harassment and/or assault, please
        immediately inform con-ops. Any attendees found to have engaged in harassment and/or assault
        during Howloween will have their membership revoked and may face civil or criminal
        prosecution.
      </p>

      <p />
      <p>
        One more thing: Costume is not consent. Any type of cosplay or costume or fursuit that one
        may wear does not constitute consent for anybody to subject them to touching, inappropriate
        comments or comments made against them, or harassment. If there is a concern about a costume
        being offensive, please direct your concerns to con-ops.
      </p>

      <h3 id="pets">Pets</h3>
      <p>
        The venue does not allow pets or animals, with the exception of service animals. If you will
        be bringing a service animal to Howloween, please contact
        <a href="mailto:con-ops@tritontails.org">con-ops@tritontails.org</a>, so that staff is
        notified ahead of time. Emotional support animals do not count as service animals.
      </p>

      <h3 id="smoking-vaping">Smoking and Vaping</h3>
      <p>
        UC San Diego is a smoke-, cannabis-, and tobacco-free campus. Smoking, vaping, or consuming
        any cannabis, tobacco, or other controlled substances is strictly prohibited. Additionally,
        no distribution on vapes, cigarettes, cannabis, or any other illegal substances is allowed.
        Any violations of this section will result in immediate revocation of membership and being
        reported to drug enforcement authorities.
      </p>

      <h3 id="photography-video">Photography &amp; Video</h3>
      <p>
        Most areas are fine to take pictures and record. With that mind, as an attendee do keep in
        mind that you may be in photos or videos of other attendees. As stated in the harassment
        section, if someone requests you to stop whether this would be an attendee, a staff member,
        or anybody really, then respect their wishes. Following and recording someone without
        consent, or similar situations to this still falls under harassment. Photography and/or
        recording of the con with the purpose of sale or sending it to the press is prohibited,
        unless is given clearance by UC San Diego & Triton Tails. No media or press publications are
        allowed at any part of the venue, unless given permission ahead of time. Additionally, any
        social media users with the intent of “exposing” the furry community will not be allowed or
        tolerated in the venue.
      </p>

      <p />
      <p>
        Howloween is a public event on a university campus. As such, most areas are subject to the
        photography and video recording rules established by
        <a href="https://univcomms.ucsd.edu/photo-video/photo-video-best-practices/index.html"
          >UC San Diego</a
        >. These rules include restrictions on media or press recordings without expressed prior
        authorization by the university. The distribution or sale of photography and video
        recordings to the press media is similarly prohibited.
      </p>

      <p />
      <p>
        While the taking of photos and videos for personal use is generally allowed during
        Howloween, the recording of photos and/or videos of someone against their explicit wishes is
        considered harassment and is thus strictly prohibited (see
        <a href="#harassment-assault">Harassment &amp; Assault</a>). If you suspect that someone is
        recording photos or video with the intent of harassment (e.g., “exposing” the furry
        community), please contact con-ops immediately.
      </p>

      <h3 id="termination-revocation">Termination &amp; Revocation of Membership</h3>
      <p>
        Please remember that your membership and badge are the privilege and property of Triton
        Tails. If an executive or con-ops requests you to surrender your badge, then that also
        constitutes a revocation of your membership privileges. If you have any problems regarding
        membership revocations, please contact
        <a href="mailto:info@tritontails.org">info@tritontails.org</a>.
      </p>

      <p />
      <p>
        If your membership privileges are revoked, then you will be requested to leave the venue
        space immediately and will be prohibited from purchasing another membership/badge for the
        duration of your suspension.
      </p>

      <p>
        Ultimately, these rules serve to make the experience for everyone as memorable and fun as
        possible. The last thing we want as staff is to escalate any action against any of our
        attendees, so please follow them. Thank you for your cooperation, and Happy Howloween! :3
      </p>
    </div>
  </div>
</section>
