---
layout: base.njk
title: Vendor Policies
description: Policies and rules for all vendors to follow during Howloween.
---

<!-- Page Banner -->
<section class="wrapper align-center">
  <div class="inner">
    <div>
      <h1>Vendor Policies</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <div>
      <ul>
        <li>
          If you are accepted into the vendor fair, you abide by all the policies set in
          <a href="/policies/attendees">Attendee Policies</a>.
        </li>
        <li>
          If you are accepted into the vendor fair, you will be given two badges. The badges are for
          the vendor and their primary helper. If there are additional helpers, they would need to
          purchase a general attendee badge.
        </li>
        <li>
          Once you get your status email, if accepted, then please join the Discord server or you
          will not be able to confirm your position in the Vendor Fair.
        </li>
        <li>
          No hateful material to be displayed or sold under any circumstances. This includes, but
          not limited to, Racist, Sexist, Homophobic or Transphobic artwork.
        </li>
        <li>No AI-generated artwork is allowed to be displayed or sold under any circumstances.</li>
        <li>
          No traced, stolen, or plagiarized artwork is allowed in this fair. Artwork or property
          that you do not have copyrights over is not allowed to be sold.
        </li>
        <li>No canopies are allowed for this year's event. Space is limited as it is!</li>
        <li>
          Your space must not disturb or impede another artist's space. This means no loud music or
          flashing lights. Any of these potentially “sensory-overload” aspects of your displays must
          remain reasonable. If enough complaints are made about your space, then the display may be
          required to be modified upon staff request.
        </li>
        <li>
          If you are positioned <u>away from the walls</u>, please be wary of the space behind you,
          as any space past the drape is impeding into walkways.
        </li>
        <li>
          Artists are not permitted to affix items to walls/drape. You must use your own displays.
        </li>
        <li>Do not tape any signage to the floor.</li>
        <li>
          You may not bring any of the following items into the venue: Weapons (See
          <a href="/policies/attendees">Safety &amp; Costume Policy</a>), alcohol, flammable or
          incendiary items (other than candles and incense), any food/drink items, or anything
          illegal or prohibited in the State of California or the City of San Diego. Any drug
          paraphernalia, including any items containing actual cannabis/CBD, are prohibited.
        </li>
        <li>
          Candles, incense, or any other flammable goods and smoke-emitting devices may not be
          lit/activated for any reason; no exceptions.
        </li>
        <li>No balloons or floating/flying objects are permitted within the building.</li>
        <li>
          Vendors are responsible, within reason, for any damage to the venue and/or equipment
          loaned to them due to inappropriate use. Venue and equipment may not be modified in any
          way, including but not limited to: holes, chips, markings, paint, glue, or damage due to
          rough or inappropriate behavior.
        </li>
        <li>
          Vendor Fair booths include one <b>6 ft x 2.5 ft</b> table but additional tables may be
          requested. Additional tables are not guaranteed and will be an additional cost. Vendors
          are also welcome to bring their own tables, but will need to warn staff ahead of time,
          which can be done
          <a href="mailto:programming@tritontails.org">programming@tritontails.org</a> or at the
          vendor Discord server.
        </li>
        <li>
          Vendor Fair booths may configure their setups in any manner that fits in their allotted
          space(s) and adheres to other venue, safety, or convention guidelines.
        </li>
        <li>Changes to layout may be made right up to the day of the convention during setup.</li>
        <li>
          Vendor Fair can request additional chairs in advance, subject to availability. Please
          request them at
          <a href="mailto:programming@tritontails.org">programming@tritontails.org</a> or at the
          vendor Discord server.
        </li>
        <li>
          Treat convention-loaned tables, chairs, equipment with respect. Vendors will be held
          accountable for damages to loaned items that occur during the event.
        </li>

        <p>
          The Vendor Fair is a professional place of commerce. You are expected to treat fellow
          vendors and their equipment with respect.
        </p>
      </ul>
    </div>
  </div>
</section>
