---
layout: base.njk
title: Parking
description: Parking information for Howloween 2026.
---

<section class="wrapper align-center">
  <div class="inner">
    <div>
      <h1>Parking</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <h2>Parking Locations</h2>
    <p>
      When parking at UC San Diego, make sure to see if you can find parking at Gilman Parking
      Structure first (see the image below). If no parking is available there, then refer to this
      <a
        href="https://docs.google.com/document/d/1NXksnQdz-jmsgMwIy2b8XiHugAYmb8FkLlVNuQMI9PY/edit?usp=sharing"
        >link</a
      >
      to look at all other options of parking.
    </p>
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="../../../assets/images/transit/gilmanParkingStructure.png"
        alt="Gilman Parking Structure"
        class="img-fluid rounded shadow w-100"
      />
    </div>
    <h2>Parking Permits</h2>
    <p>
      For this convention, it is highly recommended to buy a <b>D permit</b> for one day as it
      provides the best balance between convenience and parking fee ($5.25/day). On the day of the
      convention, a D permit provides access to park in the following spaces:
    </p>

    <ul>
      <li>
        <span class="badge bg-danger d-inline-block">A</span>*,
        <span class="badge bg-success d-inline-block">B</span>,
        <span class="badge bg-warning d-inline-block">S</span>
      </li>
      <li>D spaces in lots P703, P704, P705 and P386</li>
    </ul>

    <p>
      <em>
        *Note that for <span class="badge bg-danger d-inline-block">A</span> spaces, certain parking
        lots may specify "A permit required 24 hours a day/7 days a week", in which cases a D permit
        is not valid.
      </em>
    </p>

    <p>
      When you park, use either Parkmobile (download for
      <a href="https://play.google.com/store/apps/details?id=net.sharewire.parkmobilev2&hl=en_US"
        >Android</a
      >
      or
      <a href="http://apps.apple.com/us/app/pronto-san-diego/id1577230742">iOS</a>) or buy through
      the <a href="https://ucsd.aimsparking.com/">UCSD website</a> to acquire a
      <b>D 1 day Permit</b>. We strongly recommend buying these permits ahead of time to reduce
      inconvenience when you arrive.
    </p>

    <h2>Perks</h2>
    <p>UCSD parking comes with a lot of perks:</p>
    <ul>
      <li>Last for the entire day</li>
      <li>Have in and out privileges</li>
      <li>Most parking structures have EV charging stations</li>
    </ul>

    <h2>Accessibility</h2>
    <p>
      If you have an ADA parking permit, you will be using the parking at the ground level for most
      parking structures within UCSD.
    </p>
  </div>
</section>
