---
layout: base.njk
title: Parking
description: Parking information for Howloween 2026.
---

<section class="wrapper align-center title-banner">
  <div class="inner">
    <div>
      <h1>Parking</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <h2>Parking Locations</h2>
    <p>
      When parking at UC San Diego, make sure to see if you can find parking at Gilman Parking
      Structure first (see the image below). If you cannot find Gilman Parking Structure on your
      navigation app of choice, then alternatively, a navigatable address is
      <b>9500 Gilman Dr, San Diego, CA</b>:
    </p>

    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="../../../assets/images/transit/gilmanParkingStructure.png"
        alt="Gilman Parking Structure"
        class="img-fluid rounded shadow w-100"
      />
    </div>

    <p>Gilman Parking Structure has the following layout:</p>

    <ul>
      <li>Floors 1-2: <span class="badge bg-white d-inline-block">V</span> (Visitor) spots</li>
      <li>Floors 3-5: <span class="badge bg-danger d-inline-block">A</span> spots</li>
      <li>Floor 6: <span class="badge bg-success d-inline-block">B</span> spots</li>
    </ul>

    <p>
      Be sure to refer to the proper section (student or non-student) to know which pass to buy and
      which spots you can park in. If no parking is available there, then refer to this
      <a
        href="https://docs.google.com/document/d/1NXksnQdz-jmsgMwIy2b8XiHugAYmb8FkLlVNuQMI9PY/edit?usp=sharing"
        >link</a
      >
      to look at all other options of parking.
    </p>

    <p>
      For all parking permits, we strongly recommend buying these permits ahead of time to reduce
      inconvenience when you arrive.
    </p>

    <h2>For Students</h2>
    <p>
      As a student, there are two main options for parking permits. If you are a
      <b>junior or senior</b> student, then you will have access to the <b>one-day D permit</b>,
      which is the cheapest option for all-day parking ($5.25). If you are not a junior or senior
      student but still wish to park, it may be possible for you to buy a
      <b>one-day S permit</b> which is the next cheapest option ($6.35). On the day of the
      convention, both permits provide access to park in the following spaces:
    </p>

    <ul>
      <li>
        <span class="badge bg-danger d-inline-block">A</span>*,
        <span class="badge bg-success d-inline-block">B</span>,
        <span class="badge bg-warning d-inline-block">S</span>
      </li>
      <li>D spaces in lots P703, P704, P705 and P386</li>
    </ul>

    <p>
      <em>
        *Note that for <span class="badge bg-danger d-inline-block">A</span> spaces, certain parking
        lots may specify "A permit required 24 hours a day/7 days a week", in which cases a D permit
        is not valid.
      </em>
    </p>

    <p>
      To obtain a one-day D or S permit, buy them through the
      <a href="https://ucsd.aimsparking.com/">UCSD parking portal</a>.
    </p>

    <h2>For Non-Students</h2>

    <p>
      For non-students, the cheapest option for all-day parking during the event is a
      <b>V permit</b>. V permits are typically paid for per-hour, but on the day of the event, will
      max out at $9 for all-day parking. V permits provide access to park in the following spaces:
    </p>

    <ul>
      <li>
        <span class="badge bg-success d-inline-block">B</span>,
        <span class="badge bg-warning d-inline-block">S</span>
      </li>
      <li><span class="badge bg-white d-inline-block">V</span></li>
    </ul>

    <p>
      <b
        >An important limitation of V permits is that they cannot park in spaces labeled
        <span class="badge bg-danger d-inline-block">A</span>.</b
      >
      Because of this, visitors are limited to only the first, second, and sixth Floors
      in Gilman Parking Structure, so there may be limited spots there if you do not park early.
    </p>

    <p>
      If there are no <span class="badge bg-white d-inline-block">V</span> spots available in
      Gilman, we encourage you to check the list of other parking structures at the top of the page,
      as most major parking structures will have some visitor parking spots.
    </p>

    <p>
      To obtain a V permit, you must download the Parkmobile app (links for
      <a href="https://play.google.com/store/apps/details?id=net.sharewire.parkmobilev2&hl=en_US"
        >Android</a
      >
      and <a href="http://apps.apple.com/us/app/pronto-san-diego/id1577230742">iOS</a>). Then,
      search for zones numbered <b>4752</b> which is the code for UCSD Visitor parking. From there
      you should be able to buy parking for as long as you want ($2.25 per hour, maxing out at $9
      for the day).
    </p>

    <h2>Perks</h2>
    <p>UCSD parking comes with a lot of perks:</p>
    <ul>
      <li>Last for the entire day</li>
      <li>Have in and out privileges</li>
      <li>Most parking structures have EV charging stations</li>
    </ul>

    <h2>Accessibility</h2>
    <p>
      If you have an ADA parking permit, you will be using the parking at the ground level for most
      parking structures within UCSD.
    </p>
  </div>
</section>
