---
layout: base.njk
title: Parking
description: Parking information for Howloween 2026.
---

<section class="wrapper align-center">
  <div class="inner">
    <div>
      <h1>Parking</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <h2>Parking</h2>
    <p>
      When parking at UC San Diego, make sure to see if you can find parking at Gilman Parking
      Structure first, if not then refer to this
      <a
        href="https://docs.google.com/document/d/1NXksnQdz-jmsgMwIy2b8XiHugAYmb8FkLlVNuQMI9PY/edit?usp=sharing"
        >link</a
      >
      to look at all other options of parking.
    </p>
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="../../../assets/images/transit/gilmanParkingStructure.png"
        alt="Gilman Parking Structure"
        class="img-fluid rounded shadow w-100"
      />
    </div>
    <p>For this convention, only park in the following parking lots and/or spaces:</p>
    <ul>
      <li>D: 24 hours daily; no overnight parking in P386</li>
      <li>S: 4 p.m. - 8 a.m. weekdays and all day on weekends</li>
      <li>B: 4 p.m. - 8 a.m. weekdays and all day on weekends</li>
      <li>A: 4 p.m. - 8 a.m. weekdays and all day on weekends; not valid where posted “A permit required 24 hours a day/7 days a week.”</li>
    </ul>
    <p>
      When you park, use either Parkmobile (download in
      <a href="https://play.google.com/store/apps/details?id=net.sharewire.parkmobilev2&hl=en_US"
        >Android</a
      >
      and
      <a href="http://apps.apple.com/us/app/pronto-san-diego/id1577230742"
        >iOS</a
      >) or buy through the <a href="https://ucsd.aimsparking.com/">UCSD website</a> to acquire a
      <b>D 1 day Permit</b>. We recommend buying these permits ahead of time to reduce inconvenience
      when you arrive. This should cost $5.25 for the entire day!
    </p>
    <p>The perks with your parking:</p>
    <ul>
      <li>Last for the entire day</li>
      <li>Have in and out privileges</li>
      <li>Most parking structures have EV charging stations</li>
    </ul>
    <p>
      If you have an ADA parking permit, you will be using the parking at the ground level for most parking structures within UCSD. 
    </p>
  </div>
</section>
