---
layout: base.njk
title: Transit
description: Public transit information for Howloween 2026.
---

<section class="wrapper align-center">
  <div class="inner">
    <div>
      <h1>Public Transit</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="../../../assets/images/icons/prontoImg.png"
        alt="Pronto App Icon"
        width="300"
        height="300"
      />
    </div>
    <p>
      Download the Pronto app first in
      <a href="https://play.google.com/store/apps/details?id=net.sharewire.parkmobilev2&hl=en_US"
        >Android</a
      >
      or
      <a href="https://play.google.com/store/apps/details?id=net.sharewire.parkmobilev2&hl=en_US"
        >iOS</a
      >. There are also physical ticket machines in some stations, but the app is by far the most
      convenient and accessible option. If you are a San Diego local, you can check if you have any
      discounts for transit in the Pronto app. Along with the information on this page, also refer
      to <a href="https://maps.app.goo.gl/TDjGuPAtR3LaRjnr5">Google Maps</a> and
      <a
        href="https://maps.apple.com/place?place-id=ID146790533303DF7&address=9500+Gilman+Dr%2C+San+Diego%2C+CA++92093%2C+United+States&coordinate=32.879859%2C-117.236196&name=Price+Center+East&_provider=9902"
        >Apple maps</a
      >.
    </p>

    <br />

    <h3>Trolley</h3>
    <h4>Price for one-way: $3.00</h4>
    <p>
      The trolley is by far the most convenient route towards campus as one of the stops is directly
      on campus. If you are near a trolley station in San Diego, you will eventually be able to get
      into the blue line, where the trolley can take you to
      <a href="https://maps.app.goo.gl/PJ8tgcdhGtn3wnM9A">UC San Diego Central Campus</a>.
    </p>
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="../../../assets\images\transit\ucsdTrain.png"
        alt="UCSD Train"
        class="img-fluid rounded shadow w-100"
      />
    </div>

    <br />

    <h3>Bus</h3>
    <h4>Price for one-way: $3.00</h4>
    <p>The buses that directly stop at UC San Diego are the:</p>
    <ul>
      <li>
        Super loops
        <a href="https://www.sdmts.com/getting-around/departures-and-schedules/schedules/201"
          >201</a
        >
        and
        <a href="https://www.sdmts.com/getting-around/departures-and-schedules/schedules/202"
          >202</a
        >
      </li>
      <li>
        <a href="https://www.sdmts.com/getting-around/departures-and-schedules/schedules/30">30</a>
      </li>
      <li>
        <a href="https://www.sdmts.com/getting-around/departures-and-schedules/schedules/41">41</a>
      </li>
      <li>
        <a href="https://www.sdmts.com/getting-around/departures-and-schedules/schedules/921"
          >921</a
        >
      </li>
      <li><a href="https://transitapp.com/en/region/san-diego/nctd/bus-101">NCTD 101</a></li>
    </ul>
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="../../../assets\images\transit\ucsdBus.png"
        alt="UCSD Bus"
        class="img-fluid rounded shadow w-100"
      />
    </div>

    <br />

    <h3>Amtrack/Coaster</h3>
    <h4>Price and schedule vary, so look at their respective website for more information:</h4>
    <ul>
      <li><a href="https://www.amtrak.com/home">Amtrack</a></li>
      <li><a href="https://gonctd.com/services/coaster-commuter-rail/">Coaster</a></li>
    </ul>
    <p>
      The stop for either transportation mode should be at Old Town or at Santa Fe depot, afterwards
      you take the MTS blue line north to UC San Diego. Amtrak and Coaster do have discounts for
      students, kids, elderly, veterans, and more. They also have occasional promotional discounts
      year round, so keep an eye out for that as well!
    </p>
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img
        src="../../../assets\images\transit\amtrackCoaster.png"
        alt="Amtrack/Coaster"
        class="img-fluid rounded shadow w-100"
      />
    </div>
  </div>
</section>
