@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Carousel styling
.carousel {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;

  .carousel-inner {
    border-radius: $border-radius-lg;
    overflow: hidden;
    background: linear-gradient(to bottom, #333333, #222222);
  }

  .carousel-item {
    img {
      height: 75vh;
      object-fit: contain;
      width: 100%;
      background-color: transparent;
    }

    &.active img {
      opacity: 1;
    }

    &:not(.active) img {
      display: none;
    }
  }

  .carousel-caption {
    padding: 1.25rem;
    border-radius: $border-radius-lg;
    bottom: 2rem;
  }

  @include respond-to(medium) {
    max-width: 100%;

    .carousel-item img {
      height: 60vh;
    }
  }
}

.thumbnail-nav {
  cursor: pointer;
  opacity: 0.7;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  height: 70px;
  object-fit: cover;
  border-radius: $border-radius;

  &:hover {
    opacity: 1;
    transform: translateY(-3px);
  }

  &.active {
    opacity: 1;
    border: 3px solid $primary;
  }
}
