---
layout: base.njk
title: Event Calendar
description: Check out our upcoming events!
---

<section class="wrapper style1 align-center">
  <div class="inner">
    <h1>Event Calendar</h1>
    <p>
      Check out our upcoming events!<br />This calendar only shows our public events. For more
      information, please check out our Discord!
    </p>

    <iframe
      title="Triton Tails Calendar - Desktop"
      class="google-calendar-embed"
      id="desktop-calendar"
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&showTitle=0&title=Triton%20Tails%20Calendar&showCalendars=0&src=Y19hNWQxZjdkZjAxM2RjNDMyYmM3ZDViMzcxZTVmNzQ1YWQxZTA1ZThlNjJiZjcwNTY4MjY0NWJiZTNhNTBkMjJjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19lNjFhODNmMzI3ZTc1MzhkMWFkZTY5OTgwMTNhOGRhYmU0YjUyNDM4MDRjZDY5NGZhZjFkOTg0NjU1YmNkZTYxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23616161"
    ></iframe>

    <iframe
      title="Triton Tails Calendar - Mobile"
      class="google-calendar-embed"
      id="mobile-calendar"
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&showTitle=0&title=Triton%20Tails%20Calendar&showCalendars=0&mode=AGENDA&src=Y19hNWQxZjdkZjAxM2RjNDMyYmM3ZDViMzcxZTVmNzQ1YWQxZTA1ZThlNjJiZjcwNTY4MjY0NWJiZTNhNTBkMjJjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19lNjFhODNmMzI3ZTc1MzhkMWFkZTY5OTgwMTNhOGRhYmU0YjUyNDM4MDRjZDY5NGZhZjFkOTg0NjU1YmNkZTYxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23616161"
    ></iframe>
  </div>
</section>
