---
layout: base.njk
title: Home
description: Howloween is a UCSD Triton Tails Haloween Event set to take place in October of 2026.
---

<!-- Page Banner -->
<section class="banner text-white position-relative py-0">
  <!-- Full-width background image -->
  <div class="banner-image position-absolute w-100 h-100">
    <!-- Content overlay -->
    <div class="info-flex container-fluid">
      <div class="banner-main"><img src="assets/images/howloween_main_2.png" /></div>
      <div class="banner-asset-wrapper">
        <div class="presents">
          <p class="fs-3 mb-0">Triton Tails presents:</p>
        </div>
        <div class="banner-asset-row">
          <img src="assets/images/howloween_title.png" class="banner-asset" />
          <div class="banner-text">
            <p class="fs-2">
              October 11, 2026<br />
              11AM - 11PM<br />
              UC San Diego Price Center<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Spotlight -->
{% set spotlightData = { spotlight: spotlight.spotlights } %} {% include
"../components/spotlight.njk" %}
