---
layout: base.njk
title: Our Team
description: Meet the team behind Triton Tails - Furries at UC San Diego.
---

<section class="wrapper style1 align-center">
  <div class="inner">
    <div>
      <h1>Our Team</h1>
      <p>
        Learn more about the teams that work together to grow Triton Tails.<br />If you're
        interested in being a part of our mission, please check out the #join-board channel on our
        Discord!
      </p>
    </div>
    <div class="board-structure mb-4">
      <img src="/assets/images/board-structure.png" alt="Board Structure" class="img-fluid w-100" />
    </div>
  </div>
</section>
