---
layout: base.njk
title: Traditions
description: Learn about the traditions and customs of Triton Tails.
---

<!-- Photo Gallery -->
{% set galleryData = { title: "Photo Gallery", description: "Explore photos from our traditional
events and gatherings " } %} {% set galleryData = galleryData | merge({photos: gallery.photos}) %}
{% include "../components/photo-gallery.njk" %}

<!-- Traditions Table -->
{% set tableData = { title: "Our Traditions", description: "The recurring events, activities, and
other traditions of our furry community.", background_class: "bg-light", container_fluid: "-fluid" }
%} {% set tableData = tableData | merge({headers: traditions.headers, data: traditions.data}) %} {%
include "../components/data-table.njk" %}
