<section class="wrapper style1 align-center">
  <div class="inner">
    <h1>Coming soon...</h1>
    <p>
      TThis page will be updated soon in the coming weeks. Please be on the lookout for more
      information!
    </p>
    <ul class="actions justify-content-center">
      <li>
        <button type="button" class="button primary" onclick="history.back()">Go Back</button>
      </li>
      <li>
        <a href="/" class="button">Return Home</a>
      </li>
    </ul>
    <br />
    <!-- <img src="/assets/images/stickers/oops.webp" alt="404" class="error-image" /> -->
  </div>
</section>
