<!-- Footer -->
<footer class="bg-dark text-white py-4 mt-5 text-center">
  <div class="container">
    <div class="mb-3">
      <a href="https://linktr.ee/furriesatucsd" target="_blank" class="btn btn-outline-light btn-lg"
        >Our Links &amp; Socials</a
      >
    </div>
    <div>
      <p>Triton Tails - Furries at UC San Diego</p>
      <p class="small">
        &copy; {{ "now" | formatDate("year") }} Triton Tails. All rights reserved.
      </p>
    </div>
  </div>
</footer>
