---
layout: base.njk
title: Page Not Found
description: The page you're looking for doesn't exist.
permalink: /404.html
---

<section class="wrapper style1 align-center">
  <div class="inner">
    <h1>Oops</h1>
    <p>That page doesn't exist.</p>
    <ul class="actions justify-content-center">
      <li>
        <button type="button" class="button primary" onclick="history.back()">Go Back</button>
      </li>
      <li>
        <a href="/" class="button">Return Home</a>
      </li>
    </ul>
    <br />
    <img src="/assets/images/stickers/oops.webp" alt="404" class="error-image" />
  </div>
</section>
