---
layout: base.njk
title: Event Maps
description: Maps for finding your way around Howloween!
---

<!--Extra style so the bullet lists can look good on pc and mobile oops-->
<style>
  /*mobile*/
  .area-list {
    width: auto;
  }
  /*wider screen*/
  @media screen and (min-width: 768px) {
    .area-list {
      width: 0px;
    }
  }
</style>

<section class="wrapper align-center title-banner">
  <div class="inner">
    <div>
      <h1>Venue Map</h1>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <h1>Price Center</h1>
    <iframe
      class="w-100"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.703091640322!2d-117.23904572433314!3d32.87957427362099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc06c46a524fb9%3A0x68571efb243bc289!2sPrice%20Center%2C%20La%20Jolla%2C%20CA%2092093!5e0!3m2!1sen!2sus!4v1790908667202!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
    <p>
      Howloween takes place at the
      <a href="https://maps.app.goo.gl/vyLMySPUS6wABL1x6">Price Center</a>, as shown above!
    </p>
    <br />
    <h1>Floor 1</h1>
    <div class="d-flex flex-row flex-wrap flex-md-nowrap p-4 justify-content-start">
      <div class="p-2 flex-fill area-list">
        <h3>Game Room</h3>
        <ul>
          <li><i>Technically outside of the Price Center...</i> Right next to Yogurt World!</li>
          <li>Lounge</li>
          <li>Tabletop Games</li>
          <li>Console</li>
          <li>Tournament</li>
        </ul>
      </div>
      <div class="p-2 flex-fill area-list">
        <h3>Food Court</h3>
        <ul>
          <li>Discounted Food: <a href="/venue/food">View our food offerings here!</a></li>
          <li>
            <a href="https://universitycenters.ucsd.edu/dining-and-retail/index.html"
              >View the rest of the Price Center's food court offerings here!</a
            >
          </li>
        </ul>
      </div>
      <div class="p-2 flex-fill area-list">
        <h3>Theater</h3>
        <ul>
          <li>Performances</li>
          <li>Movie Showings</li>
          <li>Costume Contest</li>
          <li>Floor Wars</li>
        </ul>
      </div>
    </div>
    <img src="/assets/images/maps/Floor_11.png" class="w-100 p-sm-3" />
    <h3 class="d-flex justify-content-center">
      <u>Parade occurs on floor 1 after group photo!</u>
    </h3>
    <br />
    <h1>Floor 2</h1>
    <div class="d-flex flex-row flex-wrap flex-md-nowrap p-4 justify-content-start">
      <div class="p-2 flex-fill area-list">
        <h3>Price Center Game Room</h3>
        <ul>
          <li><i>Discretion: Public space, not reserved for Howloween</i></li>
          <li>Billiards</li>
          <li>Karaoke Rooms</li>
          <li>Ping Pong Tables</li>
          <li>Duckpin Bowling</li>
        </ul>
      </div>
      <div class="p-2 flex-fill area-list">
        <h3>College Rooms</h3>
        <ul>
          <li>Marshall College Room</li>
          <li>Roosevelt College Room</li>
          <li>Red Shoe Room and Bear Room, <b>located within the Sun God Lounge</b></li>
          <li><a href="/programming/panels">Click here for our panels!</a></li>
        </ul>
      </div>
      <div class="p-2 flex-fill area-list">
        <h3>Sun God Lounge</h3>
        <ul>
          <li>Red Shoe Room</li>
          <li>Bear Room</li>
          <li>Karaoke Theater</li>
          <li>
            Artist Lounge @ The Green Room
            <ul>
              <li>A chill room to draw and hang out. Contains art supplies and a sticker board.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap flex-md-nowrap p-4 justify-content-start">
      <div class="p-2 flex-fill area-list">
        <h3>Major Events</h3>
        <ul>
          <li>
            Artist Alley @ our Vendor Fair:
            <a href="/programming/vendors">Click here to see our vendors!</a>
          </li>
          <li><a href="/programming/rave">Click here for our rave!</a></li>
        </ul>
      </div>
      <div class="p-2 flex-fill area-list">
        <h3>Headless Lounge</h3>
        <ul>
          <li>Use for changing in/out of cosplay and fursuits</li>
          <li>Contains private changing lounges</li>
          <li>Water available</li>
        </ul>
      </div>
      <div class="p-2 flex-fill area-list">
        <h3>Staff Room</h3>
        <ul>
          <li>Con-ops Area</li>
          <li>Medical services available here</li>
        </ul>
      </div>
    </div>
    <img src="/assets/images/maps/Floor_2.png" class="w-100 p-sm-3" />
  </div>
</section>
